<nav class="navbar navbar-light bg-info d-flex justify-content-center">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/">article</a>
    <a class="navbar-brand" href="/">contact</a>
  </nav>